@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #483899;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.first_section{
    background-image: url('../images/header-bg.jpg');
    max-width: 1200px;
    height: 600px;
    color: white;
    position: relative;
    z-index: 1;
}

.first_section:after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #32229f;
    opacity: .9;
    z-index: -1;
}

.logo_area{
    margin-left: 40px;
    padding-top: 20px;
}

a{
    text-decoration: none;
}

.text_area{
    text-align: center;
    padding: 100px 0px;
}

.text_area h3{
    font-size: 40px;
    font-weight: 100;
}

.text_area h1{
    font-size: 130px;
    font-weight: 100;
}

a.bordered_button{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 12px 55px 12px 30px;
    position: relative;
    color: #fff;
}

a.bordered_button img{
    max-width: 20px;
    position: absolute;
    right: 16px;
}

.second_section{
    display: flex;
    background-color: #fff;
    padding: 100px 40px;
}

.left_section, .right_section{
    margin-left: 20px;
    margin-right: 20px;
}

.left_section h2 {
	font-weight: 100;
	font-size: 37px;
	margin-bottom: 30px;
}

a.gradient_button{
    display: inline-block;
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 12px 55px 12px 30px;
    position: relative; 
    background: linear-gradient(135deg,  #32229f 0%,#aa57c7 100%);
    color: #fff ;
}

a.gradient_button img{
    max-width: 20px;
    position:absolute;
    right: 16px;
    fill: #fff
}

.gradient_button{
    margin-top: 20px;
}

.third_section{
    display: flex;
    background-image: url('../images/header-bg.jpg');
    padding: 100px 40px;
}

.text_area_third_section{
    width: 50%;
    margin-left: 550px;
    color: #fff;
}

.text_area_third_section h2{
    font-weight: 100;
	font-size: 37px;
	margin-bottom: 30px;
}
p{
    text-align: justify;
}